<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="meta_common-footer(title,links)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}" rel="stylesheet">
    <title th:inline="text" th:text="${title}">タイトル</title>
    <th:block th:replace="${links} ?: _" />
</head>

<body>
    <h1>共通ヘッダー・フッター</h1>
    <footer th:fragment="common-footer">
        <a th:href="@{/}">HOME</a>
        <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js}"></script>
    </footer>
 <!--    <header th:fragment="header">
        <h1><a th:href="@{'/'}">sample app</a></h1>
    </header> -->
</body>

</html>